name: Deploy Medusa Backend

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy to AWS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      # Optional: Uncomment if you want to destroy everything first
      # - name: Terraform Destroy (Optional - use with caution!)
      #   run: terraform destroy -auto-approve -var-file="terraform.tfvars"
      #   working-directory: ./my-medusa-store/Terraform

      - name: Terraform Init
        run: terraform init -upgrade
        working-directory: ./my-medusa-store/Terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./my-medusa-store/Terraform

      - name: Terraform Plan
        run: terraform plan -input=false -out=tfplan -var-file="terraform.tfvars"
        working-directory: ./my-medusa-store/Terraform

      - name: Terraform Apply
        run: terraform apply -input=false -auto-approve tfplan
        working-directory: ./my-medusa-store/Terraform
